<div class="container-fluid">
    <h2>CLIENTES</h2>
    <div class="translucien">
        <hr class="separator">
        <hr class="separator spr-white">
        <div class="info-container">
            <button class="btn btn-new">CREAR<img src="assets/images/AddIcon512.png" class="btn-icon"></button>
            <div class="div-info">
                <p class="p-info">TOTAL REGISTRADOS</p>
                <br>
                <p class="p-info sub">0 Clientes</p>
            </div>
        </div>
        <hr class="separator">
        <div class="table-container">
            <table class="table">
                <tr class="trh">
                    <th class="trh-first">ID</th>
                    <TH>NOMBRE</TH>
                    <TH>CEDULA</TH>
                    <TH>CORREO</TH>
                    <TH>TELEFONO</TH>
                    <TH>CRÉDITO</TH>
                    <TH class="trh-last">ACCIONES</TH>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pedro Alvarez</td>
                    <td>201110111</td>
                    <td>emb@gmail.com</td>
                    <td>86543221</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mariana Jimenez</td>
                    <td>102220222</td>
                    <td>mari@gmail.com</td>
                    <td>23546798</td>
                    <td>true</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Araseli Mendez</td>
                    <td>103330333</td>
                    <td>amen@gmail.com</td>
                    <td>67986543</td>
                    <td>false</td>
                    <td><button class="btn btn-action orange">
                        <img src="assets/images/EditIcon512.png" class="menu-icon">
                    </button>
                        <button class="btn btn-action red">
                        <img src="assets/images/TrashIcon512.png" class="menu-icon">
                    </button></td>
                </tr>

            </table>
        </div>

    </div>
</div>