<div class="container-fluid">
    <h2>VENTAS</h2>
    <div class="translucien">
        <hr class="separator">
        <hr class="separator spr-white">
        <div class="info-container">
            <button class="btn btn-new">FACTURAR<img src="assets/images/InvoiceIcon512.png" class="btn-icon"></button>
            <div class="div-info">
                <p class="p-info">DURANTE ESTE CIERRE</p>
                <br>
                <p class="p-info sub">138 Ventas</p>
            </div>
        </div>
        <hr class="separator">
        <div class="table-container">

        </div>

    </div>
</div>